.dark {
  .MessageBody {
    background-color: var(--dark-medium-bg) !important;
    color: var(--dark-color) !important;
  }

  .ReplyMessageBody {
    .text-muted {
      color: var(--text-color) !important;
    }
  }

  .page_main {
    background: var(--dark-medium-bg) !important;
  }

  .top_bar {
    background: var(--dark-medium-bg) !important;
  }

  .normal_list {
    background: var(--dark-medium-bg) !important;
  }

  .posts_cat_nav {
    border-color: var(--dark-border) !important;

    a {
      background: var(--normal-btn) !important;
      color: var(--text-dark) !important;

      &.router-link-exact-active {
        background: var(--dark-ac-btn) !important;
        color: #fff !important;
      }
    }
  }

  .entry-title {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--dark-color) !important;

    a {
      color: var(--dark-color) !important;
    }
  }

  .entry_meta {
    font-size: 13px;
    color: var(--text-dark) !important;
  }

  .entry-content p {
    color: var(--text-color) !important;
  }

  .entry-footer {
    background: var(--dark-bg) !important;

    .normal_cat {
      background: var(--dark-ac-btn) !important;
    }
  }

  i {
    color: var(--dark-icon) !important;
  }

  .comnum {
    color: var(--text-color) !important;
  }

  .top_bar_scroll {
    background: rgba(27, 29, 48, 0.8) !important;
  }

  .p_item {
    border-color: var(--dark-border) !important;
  }

  .single_wrap {
    background: var(--dark-medium-bg) !important;

    .single-inner {
      border-top: 1px solid var(--dark-border) !important;
    }
  }

  .category {
    background: var(--btn-normal) !important;
    color: var(--dark-icon) !important;
  }

  .index_banner {
    .cover-div {
      filter: brightness(50%) !important;
    }
  }

  .links-item .content {
    background: var(--dark-bg) !important;

    .links-title {
      color: var(--dark-color) !important;
    }
  }

  .top_logo {
    a {
      color: #fff !important;
    }
  }

  .left_nav_inner {
    background: var(--dark-bg) !important;
  }

  .left_menu_box {
    ul {
      border-bottom: 1px solid var(--dark-border) !important;

      li {
        a {
          color: var(--dark-color) !important;
        }

        &.active a {
          background: var(--dark-ac-btn) !important;
          color: #fff !important;
        }
      }
    }
  }

  ::-webkit-scrollbar-thumb {
    background: #313131 !important;
  }
}