@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../font/lobster.woff2') format('woff2');
}

@font-face {
    font-style: normal;
    font-family: 'eafont';
    src: url('../font/eafont.ttf') format('truetype');
}

@font-face {
    font-family: 'HarmonyOS_M';
    font-style: normal;
    src: url('../font/HarmonyOS.woff2') format('truetype');
}