@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../font/lobster.woff2') format('woff2');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Icon;
    src: url('../font/Icon.woff') format("woff")
}
