:root {
  //--dark-bg: #111324;
  //--dark-medium-bg: #161829;
  //--dark-light-bg: #2e325c;
  //--dark-body-bg: #0a0c19;
  //--light-color: #dedede;
  //--text-color: #a5a9c3;
  //--dark-border: #1e2036;
  //--dark-ac-btn: #2b48ff;
  //--dark-icon: #8c92b3;
  //--text-light: #5b5f80;
  //--normal-btn: #292c45;
  //--btn-normal: #1e2139;

  // 暗黑
  --dark-body-bg: #0a0c19;
  --dark-bg: #111324;
  --dark-medium-bg: #161829;
  --dark-medium-bg-rgba: rgba(10, 12, 25, .3);
  --dark-color: #dedede;
  --text-color: #a5a9c3;
  --dark-border: #1e2036;
  --dark-ac-btn: #2b48ff;
  --dark-ac-btn-hover: #2b48ffb3;
  --dark-icon: #8c92b3;
  --text-dark: #5b5f80;
  --normal-btn: #292c45;
  --btn-normal: #1e2139;

  // 白天
  --light-body-bg: #d0dada;
  --light-bg: #ebf2ed;
  --light-medium-bg: #f6faf8;
  --lightmedium-bg-rgba: rgba(199, 235, 202, .7);
  --light-color: #000000;
  --light-border: #e6eee8;
  --light-ac-btn: #22bb6d;
  --light-ac-btn-hover: #2b48ffb3;
  --light-icon: #cee2d4;
}