// 颜色
$backgroundColor = #18171d // 暗黑背景色
$cardBackgroundColor = #1d1b26 // 暗黑卡片背景色
$buttonBackgroundColor = #0084ff // 暗黑按钮背景色
$hoverBorderColor = rgba(0, 132, 255, .7) // 暗黑 hover 色
$cardRadius = 4px
